body { position:relative; padding:0 0 0 0px; 

}
html, body {
    height: 100%;
    background-color: #EF6BFF;
}

html {
    display: table;
    margin: auto;  
}

#landing {  
    position:relative;
    margin-top:5px;
    margin-bottom:5px;
    float:left;
    font-size:40px;
    left:9.5%;
        border-top:2px solid White;
        border-radius:3px;
        overflow: auto;
        width:80%;
    font-family: 'Courier New', serif;
    line-height:1.2;
    letter-spacing: 0.1em;
        padding-top:50px;
        padding-bottom:50px;
        height:auto;
        text-align:center;
}


header {
    position: relative; 
    margin: auto; 
    text-align: center;
    float:center;
    font-family: 'Arial', serif;
    letter-spacing: 0.0695em;
        padding-top:0px;
        padding-bottom:0px;
        height:auto;
        line-height:1.2;
       
}

#bar A:link{ color: white;}

#bar {
    position: relative; 
    margin: auto; 
    text-align: center;
    float:center;
    font-family: 'Courier New', serif;
    letter-spacing: 0.0625em;
    padding-top:0px;
    padding-bottom:0px;
    height:auto;
    line-height:1.2;
    overflow: auto;
}

#bg img {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 100%;
    min-height: 100%;
}

#content {  
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
    left:9.5%;
        border-top:2px solid White;
        border-radius:3px;
        overflow: auto;
        width:80%;
    font-family: 'Optima', serif;
    letter-spacing: 0.1625em;
        height:auto;
        text-align:center;
    
}

a:link {
    text-decoration: none;
    font-size: 20px;
}
    
A:link {
 COLOR: White/*The color of the link*/
}
A:visited {
 COLOR:  White;}
/*The color of the visited link*/
}
#bar A:hover {
 COLOR: Gray/*The color of the mouseover or 'hover' link*/
}
BODY { COLOR: white /*The color of all the other text within the body of the page*/
}
